<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
        <title>Ribbon Selector</title>
        <link href="lib/pure-min.css" rel="stylesheet">
        <link href="app.css" rel="stylesheet">
    </head>
    <body>
        
        <div class="pure-g" id="app">
            
          
            <div class="pure-u-1-2" >
                  <h4>Ribbons</h4>
                <div class="pure-g">
                    <div class="pure-u-1-2">Filter:</div> <input class="pure-u-1-2" type="text" v-model="filter">

                 </div>
                 <div class="pure-g">
                <button class="pure-button pure-u-1-2" @click="movePreviousPage" :disabled="page === 1">Previous</button>
                <button class="pure-button pure-u-1-2" @click="moveNextPage" :disabled="page === maxPage">Next</button>
              


                 </div>

                    <ul class="pure-menu-list">
                        <li @click="addToRack(ribbon)" class="pure-menu-item ribbon-item" v-for="ribbon in paginatedRibbons" :key="ribbon.Id">
                            <img :src="'img/' + ribbon.src"></img>

                            <span>{{ribbon.name}}</span>
                        </li>
                    </ul>
            </div>
            <div style="padding-top:10%; " class="pure-u-1-2">
                <div style="margin-left:40px;align-content:center;text-align:center;" class="row" v-for="row in rows">
                    <div class="ribbon-in-rack ribbon" v-for="ribbon in row">
                        <img @click="removeFromRack(ribbon)" :title="ribbon.name" :src="'img/' + ribbon.src"></img>
                    </div>
                </div>

            </div>
        </div>




        <script src="lib/vue.js"></script>
        <script src="ribbons.js"></script>
        <script src="app.js"></script>
    </body>
</html>